.list-of-blocked-users-section {
  background-color: #21252933;
  height: auto;
  border-radius: 5%;
  padding: 30px;
}

.account-setting-block-component{
  padding: 20px;
  height: 100vh;
}

.account-setting-block-component h6 {
  color: white;
}
