<div class="profile-component">
  <section class="profile-section">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-profile-card></app-profile-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-privacy-setting-card></app-privacy-setting-card>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-account-setting-card></app-account-setting-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
