<div class="profile-component">
  <section class="profile-section">
    <div class="row">
      <div class="col-sm-12 col md-6 col-lg-6">
        <mat-card class="first-card">
          <img src="../../../../assets/collection-pop.jpg" id="profile-image" class="img-thumbnail">
          <mat-card-header>
            <div mat-card-avatar class="profile-mini-image"><img src="../../../../assets/deadpool-collection.jpeg">
            </div>
            <mat-card-title>הפרופיל שלי</mat-card-title>
            <mat-card-subtitle>אוסף פופים מאז 2018</mat-card-subtitle>
          </mat-card-header>
          <mat-divider id="header-divider"></mat-divider>
          <mat-card-content>
            <p>שם מלא: {{userData?.firstname}} {{userData?.lastname}}</p>
            <mat-divider></mat-divider>
            <p>איימיל: {{userData?.email}}</p>
            <mat-divider></mat-divider>
            <p>גיל: {{userData?.age}}</p>
            <mat-divider></mat-divider>
            <p>פופ אהוב: {{userData?.favoritePop}}</p>
            <mat-divider></mat-divider>
            <p>מס' פופים קיימים באוסף: {{userData?.numberOfPops}}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>עריכה</button>
            <button mat-button>שיתוף</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-card class="second-card">
          <mat-card-header>
            <mat-card-title>הגדרות הפרופיל</mat-card-title>
            <mat-card-subtitle>הגדרות אלו יקבעו את תצורתו של הקיר שלך</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <h6>ציבורי</h6>
          <mat-slide-toggle [checked]="privacySettings?.showCollection" [(ngModel)]="privacySettings.showCollection">ניתן לראות את האוסף שלי</mat-slide-toggle>
          <mat-slide-toggle [checked]="privacySettings?.showPersonalData" [(ngModel)]="privacySettings.showPersonalData">ניתן לראות מידע אישי (פופ אהוב, גיל, וכד')</mat-slide-toggle>
          <mat-slide-toggle [checked]="privacySettings?.canSendMessage" [(ngModel)]="privacySettings.canSendMessage">ניתן לשלוח לי הודעה</mat-slide-toggle>
          <mat-divider id="header-divider"></mat-divider>
          <h6>חברים</h6>
          <mat-slide-toggle [checked]="privacySettings?.friendShowCollection" [(ngModel)]="privacySettings.friendShowCollection">ניתן לראות את האוסף שלי</mat-slide-toggle>
          <mat-slide-toggle [checked]="privacySettings?.friendShowPersonalData" [(ngModel)]="privacySettings.friendShowPersonalData">ניתן לראות מידע אישי (פופ אהוב, גיל, וכד')</mat-slide-toggle>
          <mat-slide-toggle [checked]="privacySettings?.friendCanSendMessage" [(ngModel)]="privacySettings.friendCanSendMessage">ניתן לשלוח לי הודעה</mat-slide-toggle>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button (click)="updateSettings()">עדכן</button>
          </mat-card-actions>
        </mat-card>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <mat-card class="third-card">
              <mat-card-header>
                <mat-card-title>הגדרות חשבון</mat-card-title>
                <mat-card-subtitle>חשוב טוב לפני נגיעה באפשרויות אלו</mat-card-subtitle>
              </mat-card-header>
              <mat-divider id="header-divider"></mat-divider>
              <h6>מחיקה/הקפאת החשבון</h6>
              <mat-slide-toggle>הקפאת החשבון</mat-slide-toggle>
              <mat-slide-toggle>מחיקת החשבון לצמיתות</mat-slide-toggle>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
