.profile-section {
  background-color: #2125290a;
  border-radius: 5%;
  padding: 10px;
  height: auto;
  width: 80%;
  left: 48px;
  position: absolute;
  top: 20px;
  top: 59px;
  background-color: #F4FFFD;
}

.first-card {
  max-width: 400px;
  margin: auto;
  margin-top: 3%;
  border-radius: 30px 30px 30px 30px;
}

.first-card p {
  margin-top: 10px;
}

.first-card #profile-image {
  margin: auto;
  width: 330px;
  height: 300px;
  margin-bottom: 3%;
  display: block;
}

.second-card {
  max-width: 400px;
  margin: auto;
  margin-top: 3%;
  border-radius: 30px 30px 30px 30px;
}

.third-card {
  max-width: 400px;
  margin: auto;
  margin-top: 3%;
  border-radius: 30px 30px 30px 30px;
}

::ng-deep .mat-card .mat-divider-horizontal {
  margin-top: 2%;
  width: 80% !important;
  position: relative !important;
}

::ng-deep #header-divider {
  margin-top: 2%;
  width: 100% !important;
  position: relative !important;
}

.profile-mini-image {
  background-size: cover;
}

.profile-mini-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-section h6 {
  margin-top: 2%;
}

.profile-section .mat-slide-toggle {
  word-break: break-all;
  width: 100%;
}

::ng-deep .profile-section .mat-slide-toggle-bar {
  background-color: rgba(255, 44, 83, 0.75);
  margin-left: 2%;
}

::ng-deep .profile-section .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(19, 239, 16, 0.45);
}

::ng-deep .profile-section .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

@media only screen and (max-width:800px) {
  .profile-section {
    background-color: #2125290a;
    border-radius: 5%;
    padding: 10px;
  }
}
