.profile-section {
  background-color: #21252933;
  height: auto;
  border-radius: 5%;
  padding: 30px;
}

::ng-deep .edit-section .mat-form-field-appearance-legacy .mat-form-field-infix {
  width: 100%;
}

.edit-section .full-width {
  margin-top: 3%;
}

.first-card {
  max-width: 400px;
  margin: auto;
  margin-top: 3%;
  border-radius: 30px 30px 30px 30px;
}

.first-card p {
  margin-top: 10px;
}

.first-card #profile-image {
  margin: auto;
  width: 330px;
  height: 300px;
  margin-bottom: 3%;
  display: block;
}

.second-card {
  margin: auto;
  max-width: 400px;
  border-radius: 30px 30px 30px 30px;
  margin-top: 3%;
}

.third-card {
  max-width: 400px;
  margin: auto;
  margin-top: 3%;
  border-radius: 30px 30px 30px 30px;
}

.third-card .mat-radio-button {
  width: 100%;
}

::ng-deep .third-card .mat-radio-label-content {
  white-space: pre;
}

::ng-deep .third-card .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgba(10, 148, 8, 0.78);
}

::ng-deep .third-card .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #cfcfcf;
}

::ng-deep .mat-card .mat-divider-horizontal {
  margin-top: 2%;
  width: 80% !important;
  position: relative !important;
}

::ng-deep #header-divider {
  margin-top: 2%;
  width: 100% !important;
  position: relative !important;
}

.profile-mini-image {
  background-size: cover;
}

.profile-mini-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-section h6 {
  margin-top: 2%;
}

.profile-section .mat-slide-toggle {
  word-break: break-all;
  width: 100%;
}

::ng-deep .profile-section .mat-slide-toggle-bar {
  background-color: rgb(255, 3, 3);
  margin-left: 2%;
}

::ng-deep .profile-section .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(10, 148, 8, 0.78);
}

::ng-deep .profile-section .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

#image-preview {

  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  margin-top: 2%;
}

#mini-image-preview {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  margin-top: 2%;
  border-radius: 50%;
}

@media only screen and (max-width:800px) {
  .profile-section {
    background-color: #21252933;
    border-radius: 5%;
    padding: 10px;
    margin-top: 30%;
  }
}

@media only screen and(min-width:800px) {

  .mat-card-header .mat-card-title {
    font-size: 30px;
  }

  .mat-card-header .mat-card-subtitle {
    font-size: 18px;
  }

  .placeholder,
  .mat-button,
  .first-card,
  .mat-card-content,
  .second-card,
  .third-card {
    font-size: 16px;
  }
}
