.main-nav-component h1 {
  padding: 10px;
  font-size: 21px;
}

.main-nav-component .bg-light {
  background-color: transparent !important;
}

.main-nav-component .dropdown-item {
  text-align: right;
}
