.funko-wall-component {
  height: 100vh;
}

.funko-wall-component .profile-mini-image {
  background-size: cover;
}

.funko-wall-component .profile-mini-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.funko-wall-component .first-card,
.post-card {
  max-width: auto;
  margin: auto;
  margin-top: 3%;
  border-radius: 30px 30px 30px 30px;
  width: 50%;
  margin-bottom: 1%;
}


.funko-wall-component .post-card p {
  white-space: pre;
}

.funko-wall-component .list-of-posts {
  background-color: #21252933;
  height: auto;
  border-radius: 5%;
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vh !important;
  height: 500px;
}

.funko-wall-component .mat-card-actions {
  margin: auto;
  display: block;
}


.funko-wall-component .first-card .mat-raised-button {
  margin: auto;
  display: block;
  font-weight: bold;
}

.min-full-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

@media only screen and(max-width:800px) {
  .funko-wall-component .first-card {
    width: 100%;
  }
}
