<nav class="navbar navbar-expand-lg navbar-light bg-light login-navbar" *ngIf="isMobile">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" data-toggle="collapse" data-target=".navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']"><i class="fas fa-sign-in-alt"></i> פרופיל אישי </a>
      </li>
    </ul>
  </div>
</nav>
<mat-divider *ngIf="isMobile"></mat-divider>
<nav class="navbar navbar-expand-lg navbar-light bg-light login-navbar" *ngIf="!isMobile">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" data-toggle="collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['user-profile/profile']"><i class="fas fa-sign-in-alt"></i> פרופיל אישי </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']"><i class="fas fa-images"></i> האוסף שלך </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']"> <i class="fas fa-users"></i> קומיקון </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']"><i class="fas fa-comments"></i> צ'אט</a>
      </li>
    </ul>
  </div>
</nav>
