<div class="dialog-login-component">
  <h2 mat-dialog-title>התחבר</h2>
  <mat-dialog-content class="mat-typography">
    <form #loginForm="ngForm" (submit)="login(loginForm)" ngForm>
      <mat-form-field class="full-width">
        <input matInput type="email" name="email" #email="ngModel" ngModel autocomplete="email" required>
        <mat-placeholder class="placeholder">הכנס את האיימיל שלך</mat-placeholder>
        <mat-error *ngIf="email.invalid">חובה להכניס איימיל</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" name="password" #password="ngModel" ngModel autocomplete="password" required>
        <mat-placeholder class="placeholder">הכנס את סיסמתך</mat-placeholder>
        <mat-error *ngIf="password.invalid">חובה להכניס סיסמא</mat-error>
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" cdkFocusInitial>התחבר</button>
        <button mat-raised-button color="warn" mat-dialog-close id="cancel-button">ביטול</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
