<div class="row">
  <div class="col-sm-12 col-md-2 col-lg-2">
    <app-account-setting-main-menu></app-account-setting-main-menu>
  </div>
  <div class="col-sm-12 col-md-10 col-lg-10">
      <div class="change-password-component">
          <section class="change-password-section">
            <form #changePassword="ngForm" (submit)="changePass(changePassword)" ngForm>
              <mat-form-field class="full-width">
                  <input matInput type="password" name="password" #password="ngModel" ngModel required>
                  <mat-placeholder>הכנס סיסמא חדשה</mat-placeholder>
                  <mat-hint>הסיסמא צריכה להכיל 8 תווים</mat-hint>
                  <mat-error>חובה להכניס סיסמא בעלת 8 תווים</mat-error>
              </mat-form-field>
              <button mat-raised-button color="link" id="update-password-button">עדכן סיסמא</button>
            </form>
          </section>
        </div>
  </div>
</div>

