<div class="row user-account">
  <div class="col-sm-12 col-md-3 col-lg-3">
    <app-account-setting-main-menu></app-account-setting-main-menu>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-9">
    <div class="change-password-component">
      <section class="change-password-section">
        <form #changePassword="ngForm" (submit)="changePass(changePassword)" ngForm>
          <mat-form-field class="full-width">
            <input matInput type="password" name="password" [type]="hide ? 'password' : 'text'" #password="ngModel"
              ngModel required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-placeholder class="placeholder">הכנס סיסמא חדשה</mat-placeholder>
            <mat-hint class="mat-hint">הסיסמא צריכה להכיל 8 תווים</mat-hint>
            <mat-error>חובה להכניס סיסמא בעלת 8 תווים</mat-error>
          </mat-form-field>
          <button mat-raised-button color="link" id="update-password-button">עדכן סיסמא</button>
        </form>
      </section>
    </div>
  </div>
</div>
