.change-password-component {
  padding: 20px;
  height: 100vh;
}

.change-password-section {
  background-color: #21252933;
  height: auto;
  border-radius: 5%;
  padding: 30px;
}

.full-width {
  width: 50%;
  color: white;
  margin-bottom: 2%;
}

.placeholder {
  color: white;
}

.mat-hint {
  color: white;
}

#update-password-button {
  margin-right: 3%;
}

@media only screen and(max-width:800px) {
  .full-width {
    width: 100%;
  }

  #update-password-button {
    margin-top: 3%;
  }
}
