.navbar-expand-lg .navbar-collapse {
  direction: rtl;
}

.navbar-light .navbar-nav .nav-link {
  cursor: pointer;
}

.login-navbar {
  text-align: right;
  font-size: 20px;
  padding: 0px;
  direction: ltr !important;
}

.navbar-light .navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}
