.collection-component {
  height: 100vh;
}

.collection-section {
  background-color: #21252933;
  height: auto;
  border-radius: 5%;
  padding: 8px;
  width: 100vh !important;
}

.img-thumbnail {
  width: 300px;
  height: 200px;
}
