<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-3">
    <app-main-menu></app-main-menu>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-9">
    <form enctype="multipart/form-data" class="image-form">
      <button mat-raised-button color="acceny" (click)="filePicker.click()" id="addimage">הוסף תמונות</button>
      <input type="file" #filePicker (change)="fileChangeEvent($event)" style="visibility: hidden" multiple>
      <button type="button" (click)="uploadImage()" mat-raised-button color="primary"
        *ngIf="filesToUpload.length > 0 ">העלה תמונות</button>
    </form>
    <div class="collection-component">
      <section class="collection-section">
        <div class="row">
          <div *ngFor="let image of imagesArray">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <img src="{{image?.images}}" class="img-thumbnail">
            </div>
          </div>
        </div>
        <button mat-raised-button color="link" id="load-more-button" type="button" (click)="loadMore()" *ngIf="counter > paginatorData.limit">טען עוד</button>
      </section>
    </div>
  </div>
</div>

