<div class="login-content">
  <div class="card-info">
    <div class="row card-info">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>השווץ באוסף שלך</mat-card-title>
            <mat-card-subtitle>הגיע הזמן שכולם יראו עד כמה אתה מכור</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../../../assets/collection-pop.jpeg" alt="Photo of a pops collection"
            class="img-thumbnail">
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>מי הפופ המועדף עלייך?</mat-card-title>
            <mat-card-subtitle>הגיע הזמן שתראה לכולם את הפופ המועדף עלייך</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../../../assets/deadpool-collection.jpeg" alt="Photo of a pops collection"
            class="img-thumbnail">
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>רוצה לשתף את החברים שלך בצ'אט על הפופ החדש?</mat-card-title>
            <mat-card-subtitle>עכשיו אתה יכול</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../../../assets/chat.png" alt="Photo of a pops collection"
            class="img-thumbnail">
        </mat-card>
      </div>
    </div>
  </div>
</div>
